/**
* Grid Settings
*/
:root {
    --g-z_index: 99999999;

    --g-color: 0, 0%, 50%;
    --g-opacity-baseline: 0.1;
    --g-opacity-line: 0;
    --g-opacity-column: 0;
    --g-opacity-gutter: 0;

    --g-baseline-height: 4px;
    --g-baseline-start: 3px;

    --g-column-count: 12;
    --g-offset: 10px;
    --g-gutter: 10px;

    --g-color-line: hsla(var(--g-color), var(--g-opacity-line));
    --g-color-column: hsla(var(--g-color), var(--g-opacity-column));
    --g-color-gutter: hsla(var(--g-color), var(--g-opacity-gutter));
    --g-color-baseline: hsla(var(--g-color), var(--g-opacity-baseline));

    --line-thickness: 1px;
    --column-start: 0;
    --column-start-line: var(--line-thickness);
    --column-end: calc((100% / var(--g-column-count)) - var(--g-gutter) - var(--line-thickness));
    --column-end-line: calc((100% / var(--g-column-count)) - var(--g-gutter));
    --gutter-end: calc(100% / var(--g-column-count));

    --g-gradient-column:
        repeating-linear-gradient(
            to right,
            var(--g-color-line) var(--column-start),
            var(--g-color-line) var(--column-start-line),
            var(--g-color-column) var(--column-start-line),
            var(--g-color-column) var(--column-end),
            var(--g-color-line) var(--column-end),
            var(--g-color-line) var(--column-end-line),
            var(--g-color-gutter) var(--column-end-line),
            var(--g-color-gutter) var(--gutter-end)
        );
    --g-gradient-baseline:
        repeating-linear-gradient(
            to bottom,
            var(--g-color-baseline),
            var(--g-color-baseline) var(--line-thickness),
            transparent var(--line-thickness),
            transparent var(--g-baseline-height)
        );
}


.bricky-module-input .nav-tabs > li i {
    display: none;
}
.bricky-module-input .nav-tabs > li span {
    display: inline-block;
}
@media (max-width: 767px) {
    .bricky-module-input .nav-tabs > li i {
        display: inline-block;
        padding: 0 5px;
        font-style: normal;
    }
    .bricky-module-input .nav-tabs > li span {
        display: none;
    }
}

.bricky-module-input-grid-item,
.bricky-module-input-grid-item-view {
    display: block;
}
.bricky-module-input-grid-item input {
    display: none;
}

.bricky-module-input-grid-item-view {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding: 110px;
    border: 1px solid transparent;
    border-color: hsla(var(--g-color), .3);
    transition: border-color 200ms ease-in-out;
    cursor: pointer;
}
.bricky-module-input-grid-item:hover > .bricky-module-input-grid-item-view {
    border-color: hsla(var(--g-color), .8);
}
.bricky-module-input-grid-item input:checked + .bricky-module-input-grid-item-view {
    border-color: hsla(var(--g-color), 1) !important;
}

.bricky-module-input-grid-item-view > span {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 70px;
    background-color: hsla(var(--g-color), .1);
    border: 5px solid #fff;
}
.bricky-module-input-grid-item input:checked + .bricky-module-input-grid-item-view > span {
    background-color: hsla(var(--g-color), .2);
}
.bricky-module-input-grid-item-view span::after {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 10px;
    color: hsla(var(--g-color), .8);
    font-size: 16px;
}
.bricky-module-input-grid-item-view span:nth-child(1)::after {
    content: '1';
}
.bricky-module-input-grid-item-view span:nth-child(2)::after {
    content: '2';
}
.bricky-module-input-grid-item-view span:nth-child(3)::after {
    content: '3';
}
.bricky-module-input-grid-item-view span:nth-child(4)::after {
    content: '4';
}

[data-bricky-grid="10-2"] > .bricky-module-input-grid-item-view span:nth-child(1),
[data-bricky-grid="2-10"] > .bricky-module-input-grid-item-view span:nth-child(2) {
    width: 83.3333%;
}
[data-bricky-grid="9-3"] > .bricky-module-input-grid-item-view span:nth-child(1),
[data-bricky-grid="3-9"] > .bricky-module-input-grid-item-view span:nth-child(2) {
    width: 75%;
}
[data-bricky-grid="8-4"] > .bricky-module-input-grid-item-view span:nth-child(1),
[data-bricky-grid="4-8"] > .bricky-module-input-grid-item-view span:nth-child(2),
[data-bricky-grid="6-3-3"] > .bricky-module-input-grid-item-view span:nth-child(1),
[data-bricky-grid="3-6-3"] > .bricky-module-input-grid-item-view span:nth-child(2),
[data-bricky-grid="3-3-6"] > .bricky-module-input-grid-item-view span:nth-child(3) {
    width: 66.6667%;
}
[data-bricky-grid="7-5"] > .bricky-module-input-grid-item-view span:nth-child(1),
[data-bricky-grid="5-7"] > .bricky-module-input-grid-item-view span:nth-child(2) {
    width: 58.3333%;
}
[data-bricky-grid="7-5"] > .bricky-module-input-grid-item-view span:nth-child(2),
[data-bricky-grid="5-7"] > .bricky-module-input-grid-item-view span:nth-child(1) {
    width: 41.6667%;
}
[data-bricky-grid="8-4"] > .bricky-module-input-grid-item-view span:nth-child(2),
[data-bricky-grid="4-8"] > .bricky-module-input-grid-item-view span:nth-child(1),
[data-bricky-grid="6-3-3"] > .bricky-module-input-grid-item-view span:nth-child(2),
[data-bricky-grid="6-3-3"] > .bricky-module-input-grid-item-view span:nth-child(3),
[data-bricky-grid="3-6-3"] > .bricky-module-input-grid-item-view span:nth-child(1),
[data-bricky-grid="3-6-3"] > .bricky-module-input-grid-item-view span:nth-child(3),
[data-bricky-grid="3-3-6"] > .bricky-module-input-grid-item-view span:nth-child(1),
[data-bricky-grid="3-3-6"] > .bricky-module-input-grid-item-view span:nth-child(2),
[data-bricky-grid="4-4-4"] > .bricky-module-input-grid-item-view span {
    width: 33.3333%;
}
[data-bricky-grid="9-3"] > .bricky-module-input-grid-item-view span:nth-child(2),
[data-bricky-grid="3-9"] > .bricky-module-input-grid-item-view span:nth-child(1) {
    width: 25%;
}
[data-bricky-grid="10-2"] > .bricky-module-input-grid-item-view span:nth-child(2),
[data-bricky-grid="2-10"] > .bricky-module-input-grid-item-view span:nth-child(1) {
    width: 16.6667%;
}

.bricky-module-input .nav-tabs > li i {
    display: none;
}
.bricky-module-input .nav-tabs > li span {
    display: inline-block;
}

@media (max-width: 767px) {
    .bricky-module-input .nav-tabs > li i {
        display: inline-block;
        padding: 0 5px;
        font-style: normal;
    }
    .bricky-module-input .nav-tabs > li span {
        display: none;
    }
}

.bricky-module-input-grid-item,
.bricky-module-input-grid-item-view {
    display: block;
}
.bricky-module-input-grid-item input {
    display: none;
}

.bricky-module-input-grid-item-view {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding: 10px 5px;
    border: 1px solid transparent;
    border-color: hsla(var(--g-color), .3);
    transition: border-color 200ms ease-in-out;
    cursor: pointer;
    max-width: 450px;
    margin: 0 auto;
}
.bricky-module-input-grid-item:hover > .bricky-module-input-grid-item-view {
    border-color: hsla(var(--g-color), .8);
}
.bricky-module-input-grid-item input:checked + .bricky-module-input-grid-item-view {
    border-color: hsla(var(--g-color), 1) !important;
}

.bricky-module-input-grid-item-view > span {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 60px;
    background-color: hsla(var(--g-color), .1);
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
}
.bricky-module-input-grid-item input:checked + .bricky-module-input-grid-item-view > span {
    background-color: hsla(var(--g-color), .2);
}
.bricky-module-input-grid-item-view span::after {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 10px;
    color: hsla(var(--g-color), .8);
    font-size: 16px;
}
.bricky-module-input-grid-item-view span:nth-child(1)::after {
    content: '1';
}
.bricky-module-input-grid-item-view span:nth-child(2)::after {
    content: '2';
}
.bricky-module-input-grid-item-view span:nth-child(3)::after {
    content: '3';
}
.bricky-module-input-grid-item-view span:nth-child(4)::after {
    content: '4';
}

[data-bricky-grid="10-2"] > .bricky-module-input-grid-item-view span:nth-child(1),
[data-bricky-grid="2-10"] > .bricky-module-input-grid-item-view span:nth-child(2) {
    width: 83.3333%;
}
[data-bricky-grid="9-3"] > .bricky-module-input-grid-item-view span:nth-child(1),
[data-bricky-grid="3-9"] > .bricky-module-input-grid-item-view span:nth-child(2) {
    width: 75%;
}
[data-bricky-grid="8-4"] > .bricky-module-input-grid-item-view span:nth-child(1),
[data-bricky-grid="4-8"] > .bricky-module-input-grid-item-view span:nth-child(2),
[data-bricky-grid="6-3-3"] > .bricky-module-input-grid-item-view span:nth-child(1),
[data-bricky-grid="3-6-3"] > .bricky-module-input-grid-item-view span:nth-child(2),
[data-bricky-grid="3-3-6"] > .bricky-module-input-grid-item-view span:nth-child(3) {
    width: 66.6667%;
}
[data-bricky-grid="7-5"] > .bricky-module-input-grid-item-view span:nth-child(1),
[data-bricky-grid="5-7"] > .bricky-module-input-grid-item-view span:nth-child(2) {
    width: 58.3333%;
}
[data-bricky-grid="7-5"] > .bricky-module-input-grid-item-view span:nth-child(2),
[data-bricky-grid="5-7"] > .bricky-module-input-grid-item-view span:nth-child(1) {
    width: 41.6667%;
}
[data-bricky-grid="8-4"] > .bricky-module-input-grid-item-view span:nth-child(2),
[data-bricky-grid="4-8"] > .bricky-module-input-grid-item-view span:nth-child(1),
[data-bricky-grid="6-3-3"] > .bricky-module-input-grid-item-view span:nth-child(2),
[data-bricky-grid="6-3-3"] > .bricky-module-input-grid-item-view span:nth-child(3),
[data-bricky-grid="3-6-3"] > .bricky-module-input-grid-item-view span:nth-child(1),
[data-bricky-grid="3-6-3"] > .bricky-module-input-grid-item-view span:nth-child(3),
[data-bricky-grid="3-3-6"] > .bricky-module-input-grid-item-view span:nth-child(1),
[data-bricky-grid="3-3-6"] > .bricky-module-input-grid-item-view span:nth-child(2),
[data-bricky-grid="4-4-4"] > .bricky-module-input-grid-item-view span {
    width: 33.3333%;
}
[data-bricky-grid="9-3"] > .bricky-module-input-grid-item-view span:nth-child(2),
[data-bricky-grid="3-9"] > .bricky-module-input-grid-item-view span:nth-child(1) {
    width: 25%;
}
[data-bricky-grid="10-2"] > .bricky-module-input-grid-item-view span:nth-child(2),
[data-bricky-grid="2-10"] > .bricky-module-input-grid-item-view span:nth-child(1) {
    width: 16.6667%;
}



.bricky-module-input .mblock_wrapper .sortitem {
    margin: 15px 0 20px 0;
    background: #eee;
    border: 1px solid #ddd;
}

.bricky-module-input .tab-content legend {
    font-size: 16px !important;
    margin: 0;
    width: 100%;
    color: #222;
    font-weight: normal;
    background: #none;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
}

.bricky-module-input .tab-content label {
    color: #222;
    font-size: 12px;
    font-weight: 400;
    text-align: right;
    margin-top: 10px;
}

.bricky-module-input .tab-content input,
.bricky-module-input .tab-content textarea{
    background: #fff;
}

.bricky-module-input fieldset {
    clear: both;
}
.bricky-module-input {

}

.bricky-module-input .rex-page-nav {
    height: 57px;
    overflow: hidden;
}

.bricky-module-input .rex-page-nav .nav-tabs > li > a:not(.btn) {
    border: none;
    opacity: 0.8;
}

.nav-tabs li {

}

.bricky-module-input .rex-page-nav .nav-tabs > li > a:not(.btn):hover {
    opacity: 1;
    color: #000;
}
.bricky-module-input .rex-page-nav .nav-tabs > li.active > a:not(.btn) {
    opacity: 1;
}

.bricky-module-input .rex-page-nav .nav-tabs li > a{
    color: #31404F;
    background-color: #ddd !important;
    font-size: 12px;
    padding: 10px;
    border-radius: 0 !important;
    border: 1px solid #bbb !important;
}
.bricky-module-input  .rex-page-nav .nav-tabs li.active > a{
    height: 45px;
    color: #000;
    background-color: #f5f5f5 !important;
    border-bottom: none !important;
}


.bricky-module-input .tab-content {
    margin-top: -40px;
    border: 1px solid #bbb;
    background: #f5f5f5;
    padding: 15px 10px 0 10px;
}

.bricky-module-input .select_bricky {
    float: right;
    margin-right: 130px;
}
.bricky-module-input .select_bricky .rex-select-style{
    font-size: 10px;
    line-height: 11px;
    margin-top: -11px;
    height: 24px;
    width: 200px;
    opacity: 0.5;
    border-radius: 2px;
    border: 1px solid #c1c9d4;
}
.bricky-module-input .select_bricky .rex-select-style:hover {
    opacity: 1;
}

.bricky-module-input .select_bricky label {
    display: none;
}



.bricky_backend_output {
    border: 1px solid #bbb;
    background: #f5f5f5;
    margin-bottom: 32px;
    padding: 16px;
    min-height: 120px;

}

.bricky_backend_output h4 {
    font-size: 30px !important;
    margin: 0 0 -35px 0;
    color: #ddd;
    font-weight: bold;

    text-align: right;
}

.bricky_backend_output h3 {
    font-size: 16px !important;
    font-weight: normal;
    padding: 24px 0 8px 0;
    border-bottom: 1px solid #ddd;
}


.bricky_backend_output label {
    font-size: 12px;
    font-weight: normal;
    margin-top: -6px;
}

.bricky_backend_output .col-sm-9 {
    border-left: 1px solid #ddd;
}